@import "variables";
@import "fonts";
@import "@/assets/scss/components/_vue-write.scss";
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  width : $vWidth;
  height : $vHeight;
  overflow-x: hidden;
}
.main {
  background-color: black;
  width : $vWidth;
  //overflow-y: inherit;
}
.main-contents {
  padding-top: 92px;
}
nav {
  a {
    font-family: KOTRA_BOLD, sans-serif;
    color: white !important;
    font-size: 40px;
  }
}
.color {
  background-color: white;
}
.cover {
  object-fit: cover;
}

.nav {
  width: $vWidth;
}
