@font-face {
  font-family: 'NanumBrushScript-Regular';
  src: url('@/assets/fonts/NanumBrushScript-Regular.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}
