a {
  white-space: pre-line;
}
#title{
  font-family: KOTRA_BOLD, sans-serif;
  color: white !important;
  font-size: 50px;
}

#contents{
  font-family: 양진체, sans-serif;
  color: white !important;
  font-size: 20px;
}
